*
{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

html, body
{
    max-width: 100%;
    overflow-x: hidden;
}

button:hover
{
    cursor: pointer;
}

.mainEdit
{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/pokemon.jpeg);
    background-attachment: fixed;
    padding-top: 25px;
    min-height: 100vh;
}

.topnav1 {
    background-image: url(images/grass.png);
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}

.topnav1 button {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 25px;
    border: 2px solid black;
    background: skyblue;

}
.topnav1 button:hover{
    cursor: pointer;

}


/* footer */
.footer
{
    display: inline-block;
    width: 94.8%;
    height: 10vh;
    background-color: #333;
    padding: 50px;
}

.footer_nav
{
    list-style: none;
    float: left;
}

.social_links
{
    list-style: none;
    float: right;
    margin-right: 25px;
}

.footer_nav li, .social_links li
{
    display: inline-block;
    margin-right: 20px;
}

.footer_nav li:last-child,
.social_links li:last-child {
    margin-right: 0;
}

.footer_nav li a:link,
.footer_nav li a:visited
{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer_nav li a:hover,
.footer_nav li a:active {
    color: #ddd;
}

.social_links li a:link,
.social_links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    font-size: 160%;
    transition: color 0s.2s;
}

.footer p {
    padding-top: 20px;
    color: #888;
    text-align: center;
    margin-top: 20px;
}

/* form */

.editMenuForm
{
    background-color: rgba(255, 255, 255, .7);
    width: 75%;
    border-radius: 100px;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;

}

.formButtons
{
    display: flex;
    justify-content: center;
    align-content: center;
}

.formButtons button
{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 25px;
    border: 2px solid black;
    background: skyblue;
    margin-right: 16px;
}

.formButtons button:last-child{
    margin-right:0px;
    }

.formInputs
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: right;
    
}

.formInputs button
{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 25px;
    border: 2px solid black;
    background: skyblue;
}

.formInputs input
{
    line-height: 3vh;
}

.formInputs select
{
    font-size: 17px;
}

.edit-row
{
    text-align: right;
    max-width: 35%;
    padding: 5px;
    margin: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    background-color: rgb(194, 216, 209);
}

.mini-Image
{
    width: 100px;
    border-radius: 5px;
}

.smallWordDiv
{
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-style: dashed;
    border-color: black;
    border-radius: 20px;
    background-color: rgb(175, 194, 188);
}

.smallWordDiv img
{
    border-style: solid;
    border-color: black;
    border-width: 2px;
}