*
{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

html, body
{
    max-width: 100%;
    overflow-x: hidden;
}

.menuMain
{
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
    min-height: 300vh;
    background-image: url(images/stardewbackground.png);
    background-attachment: fixed;
}


/* menu bar */
.topnav {
    background-image: url('images/stardew\ wood\ texture\ final.jpg');
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}
  
/* Style the links inside the navigation bar */
.topnav button {
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
border-radius: 25px;
border: 2px solid black;
cursor: pointer;
background: hsla(233, 87%, 43%, 1);
background: linear-gradient(270deg, hsla(233, 87%, 43%, 1) 0%, hsla(203, 47%, 45%, 1) 38%, hsla(156, 20%, 51%, 1) 73%, hsla(62, 33%, 58%, 1) 100%);
background: -moz-linear-gradient(270deg, hsla(233, 87%, 43%, 1) 0%, hsla(203, 47%, 45%, 1) 38%, hsla(156, 20%, 51%, 1) 73%, hsla(62, 33%, 58%, 1) 100%);
background: -webkit-linear-gradient(270deg, hsla(233, 87%, 43%, 1) 0%, hsla(203, 47%, 45%, 1) 38%, hsla(156, 20%, 51%, 1) 73%, hsla(62, 33%, 58%, 1) 100%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0E24CD", endColorstr="#3D7FA8", GradientType=1 );
}



/* menu */
.section-header {
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 100px;
}

.formDiv
{
    font-size: 150%;
    padding-top: 30px;
}

.formDiv input
{
    font-size: 100%;
    border-color: black;
    border-radius: 5px;
    color: black;
    background-color: rgba(96, 215, 255, 0.51);
}

.formDiv select
{
    font-size: 100%;
    border-color: black;
    border-radius: 5px;
    background-color: rgba(96, 215, 255, 0.51);
}

.shop-item {
    margin: 30px;
    max-width: 375px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
    font-size: xx-large;
}

.shop-items-0 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-items-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-items-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-items-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hyper
{
    text-align: center;
}

.hyper hr
{
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.hyper a
{
    text-decoration: none;
    margin: 25px;
    color: black;
}

.hyper a:hover
{
    color: blue;
    border-bottom-style: solid;
    border-bottom-color: skyblue;
}

.hyper p
{
    text-decoration: none;
    font-size: 200%;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    transition: background-color .5s, box-shadow .5s;
}

.btn:hover
{
    box-shadow: 0px 0px 50px skyblue;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}


.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.content-cart
{
    margin-top: 25px;
}

.shop-item-info
{
    text-align: center;
}

.menu-row
{
    text-align: center;
}

.shop-item img
{
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.shop-item-details2 {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    border-style: solid;
    border-radius: 80px;
    border-width: 1px;
    box-shadow: 5px 5px 10px black;
    background-image: url(images/stardew\ wood\ texture\ final.jpg);
}

.cardDiv
{
    display: inline-block;
    text-align: right;
}