@font-face { font-family: Triforce; src: url('fonts/Triforce.ttf'); }

*
{
    padding: 0px;
    margin: 0px;
}

/* header */
.header
{
    background-image: url(images/hyrule.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.header_text
{
    text-align: center;
    width: 1140px;
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 240%;
    /* word-spacing: 4; */
    text-transform: uppercase;
}
.main_text p
{
    font-size: 40pt;
}

.btn
{
    display: inline-block;
    padding: 15px 30px;
    margin-top: 0px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: black;
    font-size: medium;
    background-color: transparent;
    border: 3px solid black;
    vertical-align: top;
    transition: background-color 1.5s, box-shadow 1.5s;
}

.signUpBtn:hover, .signUpBtn:active
{
    background-color: skyblue;
    box-shadow: 0px 0px 75px skyblue;
}

.logInBtn:hover, .logInBtn:active
{
    background-color: orange;
    box-shadow: 0px 0px 75px orange;
}

/* info */
.info
{
    height: 75vh;
}

.infoHeader
{
    font-size: 30pt;
    text-align: center;
    margin-top: 5vh;
    position: relative;
    margin: 0 auto;
    margin-top: 1.5em;
}

.infoHeader:after
{
    content: "";
    display: block;
    width: 6em;
    max-width: 70%;
    height: 2px;
    border-bottom: 0.1em solid black;
    bottom: 0;
    margin: 0.5em auto 0;
}

.infoSubTitle
{
    font-size: 25pt;
    text-align: center;
    max-width: 70%;
    margin-top: 5vh;
    position: relative;
    margin: 0 auto;
    margin-top: 1.5em;
}

/* footer */
.footer
{
    height: 25vh;
}

/* LOG IN PAGE --------------------------------------------------------------------------------------------------------- */
.logInMain
{
    background-image: url(images/Ultra_Luxe_Gourmand.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.logInDiv
{
    text-align: center;
    width: 1140px;
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 240%;
    text-transform: uppercase;
}

.logInDiv h1
{
    background-color: rgb(83, 54, 19);
    color: white;
    max-width: 50%;
    border-radius: 10px;
    border-color: black;
    background-image: url(images/wood2.jpg);
    background-size: cover;
    border-style: solid;
    margin-left: 24%;
}

.logInDiv p
{
    color: white;
}

.logInDiv input
{
    background-image: url(images/wood.jpg);
    border-color: black;
    color: white;
}

.logInDiv input:hover, input:active
{
    border-color: white;
}

.bottomDiv
{
    text-align: center;
    width: 1140px;
    position: absolute;
    bottom: 10%;
    left: 20%;
    font-size: 240%;
    text-transform: uppercase;
    background-color: rgb(83, 54, 19);
    padding: 10px;
    color: white;
    border-radius: 10px;
    border-color: black;
    background-image: url(images/wood2.jpg);
    background-size: cover;
    border-style: solid;
}

.logInMain button
{
    padding: 15px 30px;
    margin-top: 0px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    font-size: medium;
    border: 3px solid black;
    vertical-align: top;
    background-color: peachpuff;
    transition: background-color 0.2s, block-shadow 0.2s;
}

.logInMain button:hover, button:active
{
    background-color: blanchedalmond;
    box-shadow: 0px 0px 5px burlywood;
}

.logInDiv input
{
    vertical-align: middle;
    font-size: medium;
}

/* SIGN UP PAGE --------------------------------------------------------------------------------------------------------- */

.signUpMain
{
    background-image: url(images/marioWallpaper.jpg);
    height: 100vh;
    background-attachment: fixed;
}

.signUpDiv
{
    text-align: center;
    width: 1140px;
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 240%;
    text-transform: uppercase;
}

.signUpDiv h1
{
    background-color: rgba(83, 54, 19, 0.46);
    color: goldenrod;
    max-width: 50%;
    border-radius: 10px;
    border-color: black;
    background-image: url();
    background-size: cover;
    border-style: solid;
    margin-left: 24%;
}

.signUpDiv p
{
    color: white;
}

.signUpDiv input
{
    background-image: url();
    background-color: goldenrod;
    border-color: black;
    color: white;
}

.signUpDiv input:hover, input:active
{
    border-color: white;
    box-shadow: 0px 0px 10px gold;
}

.bottomSignUpDiv
{
    text-align: center;
    width: 1140px;
    position: absolute;
    bottom: 10%;
    left: 20%;
    font-size: 240%;
    text-transform: uppercase;
    background-color: rgba(83, 54, 19, 0.46);
    padding: 10px;
    color: goldenrod;
    border-radius: 10px;
    border-color: black;
    background-image: url();
    background-size: cover;
    border-style: solid;
}

.signUpMain button
{
    padding: 15px 30px;
    margin-top: 0px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    font-size: medium;
    border: 3px solid black;
    vertical-align: top;
    background-color: rgba(192, 135, 49, 0.6);
    transition: background-color 0.2s, block-shadow 0.2s;
}

.signUpMain button:hover, button:active
{
    background-color: rgba(217, 165, 32, 0.9);
    box-shadow: 0px 0px 5px burlywood;
}

.signUpDiv input
{
    vertical-align: middle;
    font-size: medium;
}