@font-face { font-family: Triforce; src: url('fonts/Triforce.ttf'); }
@font-face { font-family: Hylian; src: url('fonts/AncientHylian.otf'); }

*
{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

html, body
{
    max-width: 100%;
    overflow-x: hidden;
}

button
{
    cursor: pointer;
}

/* header */
.header
{
    background-image: url(images/hyrule.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.header_text
{
    text-align: center;
    width: 75%;
    position: absolute;
    top: 10%;
    left: 11.5%;
    font-size: 240%;
    text-transform: uppercase;
}
.main_text p
{
    font-size: 40pt;
}

.btn
{
    display: inline-block;
    padding: 15px 30px;
    margin-top: 0px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: black;
    font-size: medium;
    background-color: transparent;
    border: 3px solid black;
    vertical-align: top;
    transition: background-color 1.5s, box-shadow 1.5s;
}

.signUpBtn:hover, .signUpBtn:active
{
    background-color: skyblue;
    box-shadow: 0px 0px 75px skyblue;
}

.logInBtn:hover, .logInBtn:active
{
    background-color: orange;
    box-shadow: 0px 0px 75px orange;
}

/* info */
.info
{
    height: 75vh;
}

.infoHeader
{
    font-size: 30pt;
    text-align: center;
    margin-top: 5vh;
    position: relative;
    margin: 0 auto;
    margin-top: 1.5em;
}

.infoHeader:after
{
    content: "";
    display: block;
    width: 6em;
    max-width: 70%;
    height: 2px;
    border-bottom: 0.1em solid black;
    bottom: 0;
    margin: 0.5em auto 0;
}

.infoSubTitle
{
    font-size: 25pt;
    text-align: center;
    max-width: 70%;
    margin-top: 5vh;
    position: relative;
    margin: 0 auto;
    margin-top: 1.5em;
}

#hello:after
{
    content: "";
    display: block;
    width: 6em;
    max-width: 70%;
    height: 2px;
    border-bottom: 0.1em solid black;
    bottom: 0;
    margin: 0.5em auto 0;
}


/* meal photos */
.section_meals
{
    padding: 0;
}

.meals_showcase
{
    list-style: none;
    width: 100%;
    height: auto;
}

.meals_showcase li
{
    display: block;
    float: left;
    width: 25%
}
.meal_photo
{
    width: 100%;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #000;
}

.meal_photo img
{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s; opacity: 0.5s;
    max-height: 480px;
    object-fit: cover;
}

.meal_photo img:hover
{
    opacity: 1;
    transform: scale(1.03);
}


/* footer */
.footer
{
    display: inline-block;
    width: 94.8%;
    height: 10vh;
    background-color: #333;
    padding: 50px;
}

.footer_nav
{
    list-style: none;
    float: left;
}

.social_links
{
    list-style: none;
    float: right;
    margin-right: 25px;
}

.footer_nav li, .social_links li
{
    display: inline-block;
    margin-right: 20px;
}

.footer_nav li:last-child,
.social_links li:last-child {
    margin-right: 0;
}

.footer_nav li a:link,
.footer_nav li a:visited
{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer_nav li a:hover,
.footer_nav li a:active {
    color: #ddd;
}

.social_links li a:link,
.social_links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    font-size: 160%;
    transition: color 0s.2s;
}

.footer p {
    padding-top: 20px;
    color: #888;
    text-align: center;
    margin-top: 20px;
}

/* LOG IN PAGE --------------------------------------------------------------------------------------------------------- */
.logInMain
{
    background-image: url(images/Ultra_Luxe_Gourmand.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.logInDiv
{
    text-align: center;
    width: 1140px;
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 240%;
    text-transform: uppercase;
}

.logInDiv h1
{
    background-color: rgb(83, 54, 19);
    color: white;
    max-width: 50%;
    border-radius: 10px;
    border-color: black;
    background-image: url(images/wood2.jpg);
    background-size: cover;
    border-style: solid;
    margin-left: 24%;
}

.logInDiv p
{
    color: white;
}

.logInDiv input
{
    background-image: url(images/wood.jpg);
    border-color: black;
    color: white;
}

.logInDiv input:hover, input:active
{
    border-color: white;
}

.bottomDiv
{
    text-align: center;
    width: 1140px;
    position: absolute;
    bottom: 10%;
    left: 20%;
    font-size: 240%;
    text-transform: uppercase;
    background-color: rgb(83, 54, 19);
    padding: 10px;
    color: white;
    border-radius: 10px;
    border-color: black;
    background-image: url(images/wood2.jpg);
    background-size: cover;
    border-style: solid;
}

.logInMain button
{
    padding: 15px 30px;
    margin-top: 0px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    font-size: medium;
    border: 3px solid black;
    vertical-align: top;
    background-color: peachpuff;
    transition: background-color 0.2s, block-shadow 0.2s;
}

.logInMain button:hover, button:active
{
    background-color: blanchedalmond;
    box-shadow: 0px 0px 5px burlywood;
}

.logInDiv input
{
    vertical-align: middle;
    font-size: medium;
}

.homeButtonDivLogIn
{
    text-align: center;
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 7%;
    left: 5%;
    font-size: 240%;
    text-transform: uppercase;
    background-color: rgba(83, 54, 19, 0.46);
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    color: goldenrod;
    background-image: url(images/wood2.jpg);
}

.homeButtonDivLogIn button
{
    padding: 15px 30px;
    margin: 0px;
    font-size: 100%;
    text-decoration: none;
    width: 100%;
    border-radius: 20px;
    color: black;
    border: 3px solid black;
    vertical-align: top;
    background-color: peachpuff;
    transition: background-color 0.2s, block-shadow 0.2s;
}

.homeButtonDivLogIn button:hover, button:active
{
    background-color: blanchedalmond;
    box-shadow: 0px 0px 5px burlywood;
}

/* SIGN UP PAGE --------------------------------------------------------------------------------------------------------- */

.signUpMain
{
    background-image: url(images/marioWallpaper.jpg);
    height: 100vh;
    background-attachment: fixed;
}

.signUpDiv
{
    text-align: center;
    width: 1140px;
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 240%;
    text-transform: uppercase;
}

.homeButtonDivSignUp
{
    text-align: center;
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 7%;
    left: 5%;
    font-size: 240%;
    text-transform: uppercase;
    background-color: rgba(83, 54, 19, 0.46);
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    color: goldenrod;
}

.homeButtonDivSignUp button
{
    padding: 15px 30px;
    margin: 0px;
    font-size: 100%;
    text-decoration: none;
    width: 100%;
    border-radius: 20px;
    color: black;
    border: 3px solid black;
    vertical-align: top;
    background-color: rgba(192, 135, 49, 0.6);
    transition: background-color 0.2s, block-shadow 0.2s;
}

.homeButtonDivSignUp button:hover, button:active
{
    background-color: rgba(217, 165, 32, 0.9);
    box-shadow: 0px 0px 5px burlywood;
}

.signUpDiv h1
{
    background-color: rgba(83, 54, 19, 0.46);
    color: goldenrod;
    max-width: 50%;
    border-radius: 10px;
    border-color: black;
    background-image: url();
    background-size: cover;
    border-style: solid;
    margin-left: 24%;
}

.signUpDiv p
{
    color: white;
}

.signUpDiv input
{
    background-color: goldenrod;
    border-color: black;
    color: white;
}

.signUpDiv input:hover, input:active
{
    border-color: white;
    box-shadow: 0px 0px 10px gold;
}

.bottomSignUpDiv
{
    text-align: center;
    width: 1140px;
    position: absolute;
    bottom: 10%;
    left: 20%;
    font-size: 240%;
    text-transform: uppercase;
    background-color: rgba(83, 54, 19, 0.46);
    padding: 10px;
    color: goldenrod;
    border-radius: 10px;
    border-color: black;
    background-image: url();
    background-size: cover;
    border-style: solid;
}

.signUpDiv button
{
    padding: 15px 30px;
    margin-top: 0px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    font-size: medium;
    border: 3px solid black;
    vertical-align: top;
    background-color: rgba(192, 135, 49, 0.6);
    transition: background-color 0.2s, block-shadow 0.2s;
}

.signUpDiv button:hover, button:active
{
    background-color: rgba(217, 165, 32, 0.9);
    box-shadow: 0px 0px 5px burlywood;
}

.signUpDiv input
{
    vertical-align: middle;
    font-size: medium;
}

.bottomSignUpDiv button
{
    padding: 15px 30px;
    margin-top: 0px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    font-size: medium;
    border: 3px solid black;
    vertical-align: top;
    background-color: rgba(192, 135, 49, 0.6);
    transition: background-color 0.2s, block-shadow 0.2s;
}

.bottomSignUpDiv button:hover, button:active
{
    background-color: rgba(217, 165, 32, 0.9);
    box-shadow: 0px 0px 5px burlywood;
}

.popUpWindow
{
    position: absolute;
    top: 20%;
    left: 25%;
    padding: 5%;
    height: 40%;
    width: 40%;
    background-color: rgb(120, 80, 17);
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    text-align: center;
}

.popUpTextDiv
{
    border-style: solid;
    border-color: black;
    background-color: rgb(170, 130, 67);
    border-radius: 8px;
    padding: 10px;
}

.secondarySignUpDiv h3
{
    font-size: 300%;
    border-style: solid;
    border-color: black;
    background-color: rgb(170, 130, 67);
    border-radius: 8px;
    padding: 10px;
}

.infoDiv2 h3
{
    font-size: 300%;
    border-style: solid;
    border-color: black;
    background-color: rgb(170, 130, 67);
    border-radius: 8px;
    padding: 10px;
}

.popUpButtonYes
{
    border-style: solid;
    border-color: black;
    background-color: darkgreen;
    border-radius: 8px;
    padding: 5px;
    margin: 20px;
    font-size: 300%;
    transition: background-color 0.2s, block-shadow 0.2s;
}

.popUpButtonYes:hover
{
    background-color: lightgreen;
    box-shadow: 0px 0px 10px lightgreen;
}

.popUpButtonNo
{
    border-style: solid;
    border-color: black;
    background-color: darkred;
    border-radius: 8px;
    padding: 5px;
    margin: 20px;
    font-size: 300%;
    transition: background-color 0.2s, block-shadow 0.2s;
}

.popUpButtonNo:hover
{
    background-color: red;
    box-shadow: 0px 0px 10px red;
}

.popUpButtonRecovery
{
    border-style: solid;
    border-color: black;
    background-color: goldenrod;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    font-size: 30px;
    transition: background-color 0.2s, block-shadow 0.2s;
}

.popUpButtonRecovery:hover
{
    background-color: gold;
    box-shadow: 0px 0px 10px gold;
}

.popUpButtonCancel
{
    border-style: solid;
    border-color: black;
    background-color: darkred;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    font-size: 30px;
    transition: background-color 0.2s, block-shadow 0.2s;
}

.popUpButtonCancel:hover
{
    background-color: red;
    box-shadow: 0px 0px 10px red;
}

.popUpWindow label
{
    font-size: 200%;
}

.popUpWindow input
{
    background-color: black;
    font-size: 200%;
    color: white;
}

.popUpWindowRecovery
{
    position: absolute;
    top: 20%;
    left: 27.2%;
    padding: 5%;
    background-image: url(images/wood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    text-align: center;
}

.popUpWindowRecovery label
{
    font-size: 200%;
    color: white;
}

.popUpWindowRecovery input
{
    background-color: black;
    font-size: 200%;
    color: white;
}

.popUpTextDivRecov
{
    border-style: solid;
    border-color: black;
    font-size: 130%;
    color: white;
    background-image: url(images/wood2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 5px black;
    border-radius: 8px;
    padding: 10px;
}